@mixin btn-reset {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    background-color: #007bff;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@mixin btn-hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}